body{
    font-family: Tahoma, verdana, arial, helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #cccccc;
    background-color: #44627A;
    margin:0;
    padding:0;
}

div#header{
    position:relative;
    height:60px;
    background-image:url('/images/title_vline.jpg');
}
div#container{
    text-align:left;
    background-color: #44627A;
    margin:0;
    padding:0;
}
div#headbar{
    background-image:url('/images/login_bg.jpg');
    background-repeat: repeat-x;
    height:42px;
    width:100%;
    text-align:right;
}
p.message{
    padding:0 3em 0 3em;
    margin:2em 3em 0em 3em;
    height:1.5em;
    color:#FCB907;
    font-size:x-small;
    text-align:right;
}

p#warning {
    border:1px solid red;
    font-family: Tahoma,verdana,arial,helvetica,sans-serif;
    width:30em;
    font-size: 12px;
    margin:0 auto;
    padding:10px 10px 10px 10px;
    border: 1px solid #738da0;
    background-color: #55758c;
}

ul#login{
    text-align:right;
    margin:0em 4em;
    float:right;
    list-style:none;
    padding:0;
}

ul#login input {
    width:8em;
}
ul#login li.submit input {
    margin-top:1em;
    width:auto;
}

div#bottom {
    margin-top:3em;
    padding: 0 2em;
    clear:both;
}
