<!-- Navigation Menu -->  
<div id="navigation">
   <ul>
   	<li><a href="/account/login/">Login</a></li>
    <li><a href="/dashboard/index">Dashboard</a></li>
    <li><a href="#">Administration</a></li>
      <ul>
        <li><a href="#">Users</a></li>
			<ul><a href="/account/list/"> List Users</a></ul>
			<ul><a href="/account/add_user/"> Add Users</a></ul>
      </ul>
   </ul>
  </div>
  